

.cart-container {
  width: 50%;
 
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.item-info {
  display: flex;
  align-items: center;
}

.item-info h2 {
  margin-right: 10px;
}

.like-btn {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
  margin-right: 10px;
}

.like-btn.liked {
  color: red;
}

.delete-btn {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
  color: red;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  cursor: pointer;
  padding: 5px;
  margin: 0 5px;
}

.item-price {
  font-size: 18px;
}

.total-price {
  text-align: right;
  font-size: 20px;
  margin-top: 20px;
}